/*
 * =============================
 *  I2-LABS DESIGN OVERLAY
 * =============================
 */

@import "tailwindcss";
@source "../../";

@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

@import "./shadcn.css";

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
